@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border: 1px solid red;
  font-size: 30px;
  background-color: red;
}

.item1 {
  grid-area: 1 / 1 / span 2 / span 1;
}
